.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Bungee";
  font-size: 5rem;
  font-weight: 500;
}

.Title {
  font-size: 5rem;
  font-weight: 500;
  margin: 1rem;
}

.Title_1half {
  color: rgb(255, 187, 0);
  animation: 1s flicker infinite;
  text-shadow: 0 0 42px rgb(255, 187, 0), 0 0 82px rgb(255, 187, 0),
    0 0 92px rgb(255, 187, 0);
}

.Title_2half {
  color: rgb(80, 80, 80);
}
