.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Bungee";
  font-size: 5rem;
  font-weight: 500;
}

.Title {
  font-size: 5rem;
  font-weight: 500;
  margin: 1rem;
}

.Title_1half {
  color: rgb(18, 231, 231);
}

.Title_2half {
  color: rgb(18, 231, 231);
}
