.board {
  background-color: rgb(59, 59, 59);
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  overflow: hidden;
}
.row {
  display: flex;
  gap: 2rem;
}

.board {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.winContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.winText {
  margin: 1rem;
  color: rgb(255, 187, 0);
}

.restartButton {
  border-radius: 0.5rem;
  font-size: 3rem;
  border: none;
  background-color: rgb(50, 50, 50);
  color: rgb(255, 187, 0);
}

.restartButton:hover {
  background-color: rgb(40, 40, 40);
}
