.board {
  background-color: rgb(59, 59, 59);
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}

.row {
  display: flex;
  gap: 2rem;
}

.winContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.winText {
  margin: 1rem;
  color: rgb(255, 187, 0);
}

.restartButton {
  border-radius: 0.5rem;
  font-size: 3rem;
  border: none;
  background-color: rgb(50, 50, 50);
  color: rgb(255, 187, 0);
}

.restartButton:hover {
  background-color: rgb(40, 40, 40);
}
/*cell*/
.cell {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: none;
  transition: background-color 0.1s ease-out;
}
.cellOn:hover {
  background-color: rgba(255, 187, 0, 0.8);
}
.cellOff:hover {
  background-color: rgba(255, 187, 0, 0.1);
}
.cellOn {
  background-color: rgb(255, 187, 0);
  box-shadow: 0 0 2.5rem rgb(255, 187, 0), 0 0 5rem rgb(255, 187, 0),
    0 0 6rem rgb(255, 187, 0);
}
.cellOff {
  background-color: rgb(80, 80, 80);
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container,
h1 {
  font-family: "Bungee";
  font-size: 5rem;
}

.title {
  margin: 1rem;
  user-select: none;
}

.title1 {
  color: rgb(255, 187, 0);
  text-shadow: 0 0 2.5rem rgb(255, 187, 0), 0 0 5rem rgb(255, 187, 0);
}

.title2 {
  color: rgb(80, 80, 80);
}
