.cell {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: none;
  transition: background-color 0.1s ease-out;
}
.cellLightOn:hover {
  background-color: rgba(18, 231, 231, 0.8);
}
.cellLightOff:hover {
  background-color: rgba(18, 231, 231, 0.1);
}
.cellLightOn {
  background-color: rgb(18, 231, 231);
  box-shadow: 0 0 42px rgb(18, 231, 231), 0 0 82px rgb(18, 231, 231),
    0 0 92px rgb(18, 231, 231);
}
.cellLightOff {
  background-color: rgb(46, 45, 45);
}
